@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This a website for Company H&K, for employees to register and cerate their profiles.
    Its purpose is to illustrate the relationships and relative ranks of job positions within the organization.
    Employee names and titles and/or job positions are generally with lines linking them to other employees and departments.
    By looking to other people’s profile can gain a quick understanding of how the organization is designed,
    its number of levels and where each employee fits into the organization.
    HR/Admin is responsible for maintaining the org chart by updating it with new hires and
    when employees change positions or leave the company.
</p>

